---
import '../styles/global.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    
    <script>
      import Lenis from 'lenis'
      import { gsap } from 'gsap'
      import { ScrollTrigger } from 'gsap/ScrollTrigger'
      
      gsap.registerPlugin(ScrollTrigger)
      
      const lenis = new Lenis({
        duration: 1.2,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        smoothWheel: true,
      })
      
      // Connect Lenis to GSAP ScrollTrigger
      lenis.on('scroll', ScrollTrigger.update)
      
      gsap.ticker.add((time) => {
        lenis.raf(time * 1000)
      })
      
      gsap.ticker.lagSmoothing(0)
    </script>
  </body>
</html>